* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body{
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    color: rgb(206, 133, 39); 
  }
  .countdown-container {
    background-color: rgba(0, 0, 0, 0.6); 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    max-width: 300px;
    width: 100%;
}

.countdown{
    color: white; 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}